<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">log in</h1>
        <%if(errors){%>
            <%errorMessage.forEach((msg)=>{%>
               <div class="alert alert-danger  fade show" role="alert" style="text-align: center;">
                  <%=msg.msg%>
                 
                 </div>
         <%})%>
          <%}%>
        <form action="/auth/login" method="POST">
            <div class="form-group">
                <label for="email">email</label>
                <input required type="text" name="email" value="<%=email%>" id="email" class="form-control <%=errorMessage.find((msg)=>{return msg.param==="email"})?"border border-danger":""%>" >
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input required type="text" name="password" id="password" value="<%=password%>" class="form-control <%=errorMessage.find((msg)=>{return msg.param==="password"})?"border border-danger":""%>" >
            </div>
            <a href="/" class="btn btn-secondary">cancel</a>
            <button type="submit" class="btn btn-primary">login</button>

        </form>
</div>
</body>
</html>