<nav >
  <ul class="pagination justify-content-center" >
    
    <%if(currPage!=1 && currPage!=2){%>
        
    <li class="page-item"><a href="?page=1" class="page-link">1</a></li>
    <%}%>
            
    <%if(hasPrevPage){%>
        
    <li class="page-item"><a href="?page=<%=prevPage%>" class="page-link"><%=prevPage%></a></li>
<%}%>

    <li class="page-item active"><a href="?page=<%=currPage%>" class="page-link"><%=currPage%></a></li>

    <%if(hasNextPage){%>
    <li class="page-item"><a href="?page=<%=nextPage%>" class="page-link"><%=nextPage%></a></li>
<%}%>

    <%if(currPage!==lastPage && currPage!==lastPage-1){%>
    <li class="page-item">
      <a href="?page=<%=lastPage%>" class="page-link"><%=lastPage%></a>
    </li>
    <%}%>

  </ul>
</nav>
